@import url(
    'https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@300&family=Poppins&display=swap'
);

body {
    margin: 0;
}

header {
    display: inline;
}
nav {
    background-color: #40B6E8;
    font-family: 'Poppins', sans-serif;
    color: #FFFF;
    font-size: 20px;
    padding: 20px 0;
    margin: 0;
}
nav ul {
    background-color: #40B6E8;
    margin: 0;
    overflow: hidden;
}
nav li {
    display: inline;
    margin-left: 10px;
}
nav a {
    text-decoration: none;
    color: #FFFF;
}
nav a:hover {
    font-weight: bolder;
}
.webname {
    padding-left: 150px;
    padding-right: 740px;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: 0.2em;
}
.nav-right {
    padding-right: 30px;
    font-size: 22px;
}
.desc {
    margin-bottom: 50px;
}
.jumbotron {
    text-align: center;
    background: linear-gradient(180deg, #40B6E8 0%, #86C9E6 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #FFFF;
    padding-bottom: 30px;
}

.main-fitur {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.main-guide h2 {
    font-size: 2.75em;
    font-family: 'Montserrat', sans-serif;
}
.form {
    display: inline-block;
    border: 1px solid #909090;
    width: 85%;
    padding: 30px;
}
.desc-guide {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.news-keyword {
    width: 40%;
    height: 30vh;
    border: 1px solid #909090;
    border-radius: 6px;
    text-align: left!important;
}
::placeholder {
    font-size: 1.5em;
    vertical-align: text-top;
}

.scan {
    width: 96%;
    height: 7vh;
    border-color: transparent;
    background-color: #40B6E8;
    color: #FFFF;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    padding: 5px;
    padding-left: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
    background-color:#334042;
    font-weight: bold;
}